#content{
    padding-top: 5%;
    text-align: center;
    height: 70%;
    width: 30%;
    margin: auto;
    
}

#content h3{
    color: lightgrey;

}
ion-input{
background-color: #f7f7f7;
border-radius:8px;
margin-bottom: 50px;
color: black;

}

ion-button{
    border-radius: 8px;
    height:50px;
    width:100px;
}
